---
import Layout from "../layouts/Layout.astro";
import DefaultAccordion from "../components/DefaultAccordion.astro";
import AccordionWithAvatar from "../components/AccordionWithAvatar.astro";
---

<Layout title="Accordion">
  <div>
    <h1 class="text-xl font-medium mb-4">Default Accordion</h1>
    <DefaultAccordion />

    <h1 class="text-xl font-medium mb-4 mt-6">Accordion With Avatar</h1>
    <AccordionWithAvatar />
  </div>
</Layout>
